@import url(http://fonts.googleapis.com/css?family=Asap|Ubuntu+Mono|Play:700);

body {
  font-size: 13px;
  font-family: 'Asap', sans-serif;
  color:#564b47;  
  
}

pre {
	font-family: 'Ubuntu Mono', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Play', sans-serif;
}

#main {
	padding-top: 10px;
	padding-bottom: 10px;
}

#content {

	width: 65%;
	min-height: 400px;
	min-width: 600px;
	margin-left: 200px;
}

#sidebar {
	float: left;
	width: 200px;
	min-width: 200px;
}


#footer {
	clear: both;
	width: 100%;
}

#content table {
	margin: 10px;
	border: solid 1px black;
	border-collapse: collapse;
	padding: 3;  
}

table.mainpage {
	width: 100%;
}

td,th {
	padding: 5px;
	text-align: center;
}

table.detail {
	border: solid 0px black;
	width: 100%;
}

.subject {
	text-align: left;
}

.subject small {
	color: gray;
}

.detail th {
	width: 100px;
}

.detail td, .detail th {
	text-align: left;
	vertical-align: top;
}

.ticketedit {
	width: 50%;
}

.comment td, .comment th {
	border-bottom: solid 1px black;
	vertical-align: top;
}

.comment small {
	text-decoration: none;
}

.comment-box {
}

.ticketlink {
	text-align: left;
	
}

.ticketid {
	background: gray;
	color: white;
}
